#toast-container > .toast-warning {
  background-image: url('./icon-error.svg') !important;
  padding-left: 60px !important;
}

.style-toast-error {
  width: 400px !important;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  border-radius: 1rem !important;
  background-color: #edf1fd;
  color: #01081e !important;
  border: 2px solid #7b1010 !important;
}

.closebtn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ccd7fc !important;
}

.closebtn > i {
  color: #000617;
  font-weight: 500;
}

@media screen and (max-width: 568px) {
  #toast-container > .toast-warning {
    max-width: 70%;
    position: fixed;
    right: 10px !important;
  }
}
